<html>
    <head>
		<link href="bootstrap.min.css" rel="stylesheet" />
        <style>
            body {
                padding: 10px;
                background-color: rgb(173, 164, 164);
            }
        </style>
	</head>
    
    <body>
        <h1 class="text-center">
            Enter Category Details:
        </h1>
        <div class="mb-3" style="margin-left: 300px; margin-right: 300px; background-color: rgb(221, 229, 237); padding: 10px; border-radius: 20px;">
            <form action="/29709229/add_category/submit" method="POST">
            
                <label for="event_name">Category Name:</label>
                <input type="text" name="category_name" class="form-control" required/> </br>
                
                <label for="description">Description:</label>
                <input type="text" name="description" class="form-control"/> </br>

                <label for="image_path">Image path:</label>
                <input type="text" name="image_path" class="form-control"/> </br>

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
        
    </body>

</html>