<html>
    <head>
		<link href="bootstrap.min.css" rel="stylesheet" />
	</head>

    <body>
        <div class="text-center">
            <img src="team_logo.png" width="300" height="300">
        </div>
        

        <h1 class="text-center">
            WELCOME TO Good Management!
        </h1>
        <div class="text-center">
            <div>
                <a href="http://localhost:8080/ziyang/add_event"><button class="btn btn-primary" style="margin: 10px;">Add Event</button></a>
            </div>
    
            <div>
                <a href="http://localhost:8080/ziyang/event_list"><button class="btn btn-primary" style="margin: 10px;">Event List</button></a>
            </div>
    
            <div>
                <a href="http://localhost:8080/ziyang/sold_out_event_list"><button class="btn btn-primary" style="margin: 10px;">Sold Out Event List</button></a>
            </div>
    
            <div>
                <a href="http://localhost:8080/ziyang/delete_event_by_id"><button class="btn btn-primary" style="margin: 10px;">Delete Event by ID</button></a>
            </div>
            

            <div>
                <a href="/29709229/add_category"><button class="btn btn-primary" style="margin: 10px;">Add Category</button></a>
            </div>
    
            <div>
                <a href="/29709229/category_list"><button class="btn btn-primary" style="margin: 10px;">Category List</button></a>
            </div>
    
            <div>
                <a href="/29709229/delete_category_by_id"><button class="btn btn-primary" style="margin: 10px;">Delete Category by ID</button></a>
            </div>
        </div>
        
    </body>
</html>